AddDefaultCharset UTF-8
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
Header set Cache-Control "public"

RewriteEngine on
RewriteRule ^$ http://manchestertechnights.org/1/ [R=302,L]